body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif !important;
}

a{
    text-decoration: none !important;
}

.map{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0;
}
.map iframe{
    width: 100%;
    height: 500px;
}