@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section.service-feat  {
    width: 100%;
    margin: auto;
}

section.service-feat h2 {
    width: 60%;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    color: #226666;
    font-size: 2vw;
    font-weight: bold;
}

section.service-feat .contents {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
}

section.service-feat .contents .left, section.service-feat .contents .right {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

section.service-feat .contents .right {
    background: #FAFAFB;
}

section.service-feat .contents .left .images, section.service-feat .contents .right .images {
    width: 500px;
    height: 500px;
}

section.service-feat .contents .left .images img, section.service-feat .contents .right .images img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

section.service-feat .contents .left .detail, section.service-feat .contents .right .detail {
    width: 600px;
}

section.service-feat .contents .left .detail article, section.service-feat .contents .right .detail article {
    text-align: justify;
    font-size: 1em;
}

section.service-feat .contents .left .detail h5, section.service-feat .contents .right .detail h5 {
    font-weight: bold;
    color: #226666;
}

section.trust-agency {
    width: 100%;
    background: #EFF3FD;
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 30px;
}

section.trust-agency h4 {
    text-align: center;
    font-weight: bold;
    color: #226666;
    margin-bottom: 80px;
}

section.trust-agency .contents {
    width: 100%;
}

section.trust-agency .contents .detail {
    max-width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

section.trust-agency .contents .detail div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.trust-agency .contents .detail div ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    top: 20px;
    margin-bottom: 60px;
}

section.trust-agency .contents .detail ul li::before {
    content: "\2022";
    color: #CA1E52;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

section.trust-agency .contents .detail div div {
    width: 90%;
    display: flex;
    align-items: start;
    padding-left: 2px;
    position: relative;
}

section.trust-agency .contents .detail div div button {
    height: auto;
    padding: 10px;
    background: #B13557;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    position: relative;
    margin-bottom: 20px;
    box-shadow: 2px 2px 4px gray;
}

/* section.trust-agency .contents .detail div ul li */

section.trust-agency .contents .detail .image {
    height: auto;
    display: flex;
    justify-content: end;
    position: relative;
    z-index: 100;
}

section.trust-agency .contents .detail .image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


/* Media Queries */

@media screen and (max-width: 1050px) {
    section.service-feat h2 {
        width: 90%;
        font-size: 2.7vw;
    }

    section.service-feat .contents {
        padding-top: 30px;
    }

    section.service-feat .contents .left, section.service-feat .contents .right {
        height: 400px;
    }

    section.service-feat .contents .left .detail article, section.service-feat .contents .right .detail article {
        font-size: .7em;
    }

    section.service-feat .contents .left .detail h5, section.service-feat .contents .right .detail h5 {
        font-size: .9em;
    }

    section.trust-agency .contents .detail div ul {
        margin-bottom: 40px;
        gap: 10px;
        font-size: .9em
    }

    section.trust-agency .contents .detail div div{
        padding-left: 16px;
    }

    section.trust-agency .contents .detail div div button {
        font-size: .7em;
    }
}

@media screen and (max-width: 950px) {
    section.trust-agency .contents .detail div ul {
        gap: 10px;
        font-size: .8em;
    }
}

@media screen and (max-width: 850px) {
    section.trust-agency .contents .detail {
        flex-direction: column;
        gap: 20px
    }

    section.trust-agency .contents .detail div ul {
        top: -40px;
    }

    section.trust-agency .contents .detail div div {
        justify-content: center;
        align-items: center;
        top: -30px;
    }

}

@media screen and (max-width: 750px) {
    section.service-feat .contents {
        padding-top: 0px;
    }

    section.service-feat .contents .left, section.service-feat .contents .right {
        height: 300px;
    }
}

@media screen and (max-width: 550px) {
    section.service-feat .contents .left, section.service-feat .contents .right {
        height: auto;
        flex-direction: column;
        gap: 0px;
        margin-bottom: 20px;
        padding-bottom: 40px;
    }

    section.service-feat .contents .right {
        flex-direction: column-reverse;
    }

    section.service-feat .contents .left .detail, section.service-feat .contents .right .detail {
        width: 100%;
    }

    section.service-feat .contents .left .detail h5, section.service-feat .contents .right .detail h5 {
        font-size: .8em;
    }

    section.service-feat .contents .left .images, section.service-feat .contents .right .images {
        width: 250px;
        height: 250px;
    }

    section.service-feat h2 {
        width: 70%;
        font-size: 2.8vw;
        margin-bottom: 30px;
    }
}