@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-bg {
    width: 100%;
    background: #FAFAFB;
    display: flex;
    justify-content: center;
    position: relative;
    /* top: 95px; */
}

.header-bg .header {
    width: 90%;
    height: auto;
    padding-top: 50px;
    display: flex;
    align-items: center;
    align-items: end;
    position: relative;
}

.header-bg .header .content {
    width: 700px;
    height: 100%;
    padding-top: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    font-family: 'Poppins', sans-serif;
}

.header-bg .header .content h1 {
    width: 100%;
    color: #226666;
    font-size: 3vw;
    font-weight: bold;
}

.header-bg .header .content p {
    color: #1A202C;
    font-size: 1.2vw;
}

.header-bg .header .content button {
    width: 150px;
    height: 44px;
    background: #B13557;
    color: white;
    border: none;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 2px 2px 4px gray;
}

.header-bg .header .content button:hover {
    transform: scale(1.05);
}

.header-bg .header .image {
    width: 800px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bg .header .image img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}




/* Media queries */

@media screen and (max-width: 750px) {
    .header-bg .header .content button {
        width: 100px;
    }
}

@media screen and (max-width: 550px) {
    .header-bg .header .content {
        gap: 10px;
    }

    .header-bg .header .content button {
        width: 100px;
    }
}