<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6a2b03ede4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="trust.css">
    <title>Document</title>
</head>
<body>

    <div class="wrapper">
        <i id="left" class="fa-solid fa-angle-left fa-rotate-180"></i>
        <ul class="carousel">
            <li class="card">
                <div class="info">
                    <div class="name-img">
                        <div class="image">
                            <img src="../images/t1.png" alt="" draggable="false">
                        </div>
                        <h4>Viezh Robert</h4>
                    </div>
                    <p class="rate">4.5</p>
                </div>
                <p class="detail">
                    Lorem ipsum dolor sit amet consectetur. Accumsan amet malesuada potenti tortor nulla. Eget nunc ultricies purus mauris. 
                </p>
            </li>
            <li class="card">
                <div class="info">
                    <div class="name-img">
                        <div class="image">
                            <img src="../images/t2.png" alt="" draggable="false">
                        </div>
                        <h4>Viezh Robert</h4>
                    </div>
                    <p class="rate">4.5</p>
                </div>
                <p class="detail">
                    Lorem ipsum dolor sit amet consectetur. Accumsan amet malesuada potenti tortor nulla. Eget nunc ultricies purus mauris. 
                </p>
            </li>
            <li class="card">
                <div class="info">
                    <div class="name-img">
                        <div class="image">
                            <img src="../images/t3.png" alt="" draggable="false">
                        </div>
                        <h4>Viezh Robert</h4>
                    </div>
                    <p class="rate">4.5</p>
                </div>
                <p class="detail">
                    Lorem ipsum dolor sit amet consectetur. Accumsan amet malesuada potenti tortor nulla. Eget nunc ultricies purus mauris. 
                </p>
            </li>
            <li class="card">
                <div class="info">
                    <div class="name-img">
                        <div class="image">
                            <img src="../images/t2.png" alt="" draggable="false">
                        </div>
                        <h4>Viezh Robert</h4>
                    </div>
                    <p class="rate">4.5</p>
                </div>
                <p class="detail">
                    Lorem ipsum dolor sit amet consectetur. Accumsan amet malesuada potenti tortor nulla. Eget nunc ultricies purus mauris. 
                </p>
            </li>
            <li class="card">
                <div class="info">
                    <div class="name-img">
                        <div class="image">
                            <img src="../images/t1.png" alt="" draggable="false">
                        </div>
                        <h4>Viezh Robert</h4>
                    </div>
                    <p class="rate">4.5</p>
                </div>
                <p class="detail">
                    Lorem ipsum dolor sit amet consectetur. Accumsan amet malesuada potenti tortor nulla. Eget nunc ultricies purus mauris. 
                </p>
            </li>
            <li class="card">
                <div class="info">
                    <div class="name-img">
                        <div class="image">
                            <img src="../images/t3.png" alt="" draggable="false">
                        </div>
                        <h4>Viezh Robert</h4>
                    </div>
                    <p class="rate">4.5</p>
                </div>
                <p class="detail">
                    Lorem ipsum dolor sit amet consectetur. Accumsan amet malesuada potenti tortor nulla. Eget nunc ultricies purus mauris. 
                </p>
            </li>
            <li class="card">
                <div class="info">
                    <div class="name-img">
                        <div class="image">
                            <img src="../images/t1.png" alt="" draggable="false">
                        </div>
                        <h4>Viezh Robert</h4>
                    </div>
                    <p class="rate">4.5</p>
                </div>
                <p class="detail">
                    Lorem ipsum dolor sit amet consectetur. Accumsan amet malesuada potenti tortor nulla. Eget nunc ultricies purus mauris. 
                </p>
            </li>
        </ul>
        <i id="right" class="fa-solid fa-angle-right fa-rotate-180"></i>
    </div>

    <script src="trust.js"></script>
</body>
</html>


